@import url('https://fonts.cdnfonts.com/css/lucida-handwriting-std');

:root {
    --rows: 0;
    --cols: 0;
}

* {
    color: whitesmoke;
    margin: 0;
    padding: 0;
    text-align: center;
}

span {
    font-family: 'Lucida Handwriting Std', sans-serif;
    color: gold;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    background-image: none;
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: 2px;
    z-index: 3;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #4e00b4, #00bd94, #3b9300, #bfb500, #eb5712, #4e00b4);
    animation: gradient 10s linear infinite;
    background-size: 200vw;
}

main {
    position: relative;
    filter: none;
    background: none;
    z-index: 4;
}

#btn {
    z-index: 5;
}

/*
*/
.cell {
    margin: 0;
    background-color: rgb(37, 37, 37);
    aspect-ratio: 1/1;
    transition: opacity 200ms ease;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.container[data-open="true"] a:nth-child(7)>div::after {
    content: "Home";
}



main>h1 {
    transition: top 600ms ease;
    position: absolute;
    font-size: 3em;
    pointer-events: none;
}

main>h2 {
    font-size: 2.2em;
    font-weight: bold;
}

main>p {
    font-size: 1.5em;
}
main>p,
main>h2{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 500ms ease;
    display: inline-block;
    pointer-events: none;
    width: 60vw;
    max-width: 750px;
    min-width: 500px;
}

main[data-show="false"]>p,
 main[data-show="false"]>h2{
    opacity: 0;
}

main[data-show="false"]>h1 {
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main[data-show="true"]>h1 {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
main[data-show="true"]>h2 {
    display: inline-block;
    opacity: 1;
    top: 23%;
    left: 50%;transform: translate(-50%, -50%);
    text-align: center;
 }
main[data-show="true"]>p {
    display: inline-block;
    opacity: 1;
    top: 55%;
    left: 50%;
    text-align: center;
}